<!-- our-brand-area start -->
<section class="our-brand-logo">
  <div class="container">
  <div class="row">
    <div class="col branlogo-wrap">
      <div class="brand-logo swiper" id="brand-logo">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="brand-img">
              <a href="{{ block.settings.brand_url }}" class="logo-url">
                <span class="logo-image image-1">
                  {%- if block.settings.brand_image_1 -%}
                  {{ block.settings.brand_image_1 | image_url: width: 512 | image_tag:
                    loading: 'lazy',
                    width: block.settings.brand_image_1.width,
                    height: block.settings.brand_image_1.height,
                    class: "img-fluid",
                    alt: block.settings.brand_image_1.alt | escape }}
                  {%- else -%}
                  {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </span>
                <span class="logo-image image-2">
                  {%- if block.settings.brand_image_2 -%}
                  {{ block.settings.brand_image_2 | image_url: width: 512 | image_tag:
                    loading: 'lazy',
                    width: block.settings.brand_image_2.width,
                    height: block.settings.brand_image_2.height,
                    class: "img-fluid",
                    alt: block.settings.brand_image_2.alt | escape }}
                  {%- else -%}
                  {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </span>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- our-brand-area end -->
<script type="text/javascript">
  addEventListener('DOMContentLoaded', (event) => {
    var swiper = new Swiper('.swiper#brand-logo', {
      slidesPerView: 5,
      grid: {
        rows: 1,
        fill: 'row' | 'column',
      },
      spaceBetween: 30,
      observer: true,
      observeParents: true,
      watchSlidesProgress: true,
      {%- if settings.enable_rtl -%}
      rtl: true,
      {%- endif -%}
      navigation: {
        nextEl: '.swiper-next-{{ section.id }}',
        prevEl: '.swiper-prev-{{ section.id }}',
      },
      pagination: {
        el: ".swiper-pagination-{{ section.id }}",
        clickable: true
      },
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        320: {
          slidesPerView: 1,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        360: {
          slidesPerView: 2,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        540: {
          slidesPerView: 2,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        540: {
          slidesPerView: 2,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        640: {
          slidesPerView: 3,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        768: {
          slidesPerView: 3,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30
        },
        1024: {
          slidesPerView: 4,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30
        },
        1199: {
          slidesPerView: 5,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30
        },
        1399: {
          slidesPerView: 5,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30
        }
      }
    });
  });
</script>
{% schema %}
{
  "name": "Brand Logo",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop "
    },
    {
      "type": "range",
      "id": "brand_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "brand_padding_bottom",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Tablet"
    },
    {
      "type": "range",
      "id": "brand_padding_top_lg",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "brand_padding_bottom_lg",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "brand_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "brand_padding_bottom_xs",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "checkbox",
      "id": "section_bg_color_enable",
      "label": "Show background Color",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#F7F7F7"
    },
    {
      "type": "header",
      "content": "Section Background Image"
    },
    {
      "type": "checkbox",
      "id": "section_bg_image_enable",
      "label": "Show background image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": "background image",
      "info": "Recommended Size: 1920x500px"
    },
    {
      "type": "header",
      "content": "Section Border"
    },
    {
      "type": "range",
      "id": "border",
      "label": "Border",
      "min": 0,
      "max": 2,
      "step": 1,
      "unit": "px",
      "default": 1
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#808080"
    },
    {
      "type": "checkbox",
      "id": "border_enable",
      "label": "Show Section Border",
      "default": false
    },
    {
      "type": "range",
      "id": "border_color_opacity",
      "label": "Theme Border Color Opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3
    }
  ],
  "blocks": [
    {
      "type": "single_brand",
      "name": "Single Brand Logo",
      "settings": [
        {
          "type": "header",
          "content": "Logo Image"
        },
        {
          "type": "image_picker",
          "id": "brand_image_1",
          "label": "Brand Image 1",
          "info": "Recommended Size: 160 x 30px"
        },
        {
          "type": "image_picker",
          "id": "brand_image_2",
          "label": "Brand Image 2",
          "info": "Recommended Size: 160 x 30px"
        },
        {
          "type": "url",
          "id": "brand_url",
          "label": "Brand Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Logo",
      "category": "brand logo"
    }
  ]
}
{% endschema %}
<style>
  .our-brand-logo {
    padding-top:{{ section.settings.brand_padding_top }}px;
    padding-bottom:{{ section.settings.brand_padding_bottom }}px;
    {% if section.settings.section_bg_color_enable %}
    background-color: {{ section.settings.section_bg_color }};
    {% endif %}
    {% if section.settings.section_bg_image_enable %}
    background-image: url({% if section.settings.section_bg_image %}{{ section.settings.section_bg_image | image_url: 'master' }}{% else %}https://dummyimage.com/1920x500/f7f7f7/999999{% endif %});
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    {% endif %}
    {% if section.settings.border_enable %}
    border-top: {{ section.settings.border }}px solid {{ section.settings.border_color | color_modify: 'alpha', section.settings.border_color_opacity }};
    {% endif %}
  }
  @media (max-width: 1199px){
    .our-brand-logo {
      padding-top:{{ section.settings.brand_padding_top_lg }}px;
      padding-bottom:{{ section.settings.brand_padding_bottom_lg }}px;
    }
  }
  @media (max-width: 767px){
    .our-brand-logo {
      padding-top:{{ section.settings.brand_padding_top_lg }}px;
      padding-bottom:{{ section.settings.brand_padding_bottom_xs }}px;
    }
  }
  .our-brand-logo .branlogo-wrap{
    margin: 0 auto;
  }
  .our-brand-logo .brand-logo .brand-img {
    text-align: center;
  }
  .our-brand-logo .brand-logo .brand-img a.logo-url {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--sti-border-radius);
  }
  .our-brand-logo .brand-logo .brand-img:hover a.logo-url {
    background-color: var(--font-color-primary);
  }
  .our-brand-logo .brand-logo .brand-img a.logo-url span.logo-image.image-2 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  }
  .our-brand-logo .brand-logo .brand-img:hover a.logo-url span.logo-image.image-2 {
    opacity: 1;
    visibility: visible;
  }
  .our-brand-logo .brand-logo .brand-img a.logo-url span.logo-image svg {
    width: 100%;
  }
  .our-brand-logo .brand-logo .brand-img a.logo-url span.logo-image img,
  .our-brand-logo .brand-logo .brand-img a.logo-url:hover span.logo-image img {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
</style>